{% extends 'base.html' %}
{% block css %}
<style>
.card{
	border-top: 2px solid black;
}
</style>
{% endblock %}
{% block content %}
<div class='row'>

	<h1> User Following Feed </h1>
{% for obj in object_list %}

	<div class="col-12 card mt-3 py-2">
		<h3><b><a href="{% url 'profiles:detail' username=obj.user.username %}">@{{obj.user.username}}</a></b></h3>
		<h4 class="mt-2"><b>{{obj.name}}</b></h4> 
		<p> {{obj.restaurants.title}} | {{obj.restaurants.location}} | {{obj.restaurants.category}}</p>
<p>
	<b class="ml-2">Contains</b>
	
 	{% for ing in obj.get_contents %}
 	<span class="ingredient">{{ing}} </span>
 	{%endfor%}
</p>

</div>

{% endfor %}
</div>
{% endblock %}